*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
#container{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    border: #1d1d1c 5px solid;
    border-radius: 10px;
    background-color: #ffffff;
}
#container input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: #1d1d1c 3px solid;
    border-radius: 5px;
}
#adic{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    border: #ffffff 3px solid;
    border-radius: 5px;
}
#rem{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border: #ffffff 3px solid;
    border-radius: 5px;
}
#lista-container{
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    border: #1d1d1c 5px solid;
    border-radius: 10px;
    background-color: #f8f8f8;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
#header button{
    padding: 10px;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border: #ffffff 3px solid;
    border-radius: 5px;
}
footer{
    text-align: center;
    margin-top: 20px;
    color: #333;
    font-style: italic;
}
input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: #1d1d1c 3px solid;
    border-radius: 5px;
}

/* Estilos para o tema claro (padrão) */
body {
    background-color: white;
    color: black;
}

/* Estilos para o tema escuro */
body.tema-escuro {
    background-color: black;
    color: white;
}

/* Estilos para o botão de alternar tema */
#botaoTema {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#botaoTema:hover {
    background-color: #45a049;
}